Lib/.DS_Store

# =========================
# Xcode & macOS
# =========================
.DS_Store
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.swp
*.lock

# =========================
# Xcode Derived Data & Build
# =========================
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3

# =========================
# Swift Package Manager
# =========================
Packages/
Package.pins
Package.resolved
.build/

# =========================
# CocoaPods
# =========================
Pods/
Podfile.lock

# =========================
# Others
# =========================
*.moved-aside
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
